.apogee_tooltip_element {
    position: relative;
    display: inline-block;
}
.apogee_tooltip_text {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 3px;
    background-color: rgb(245,245,245);
    color: darkblue;
    border: 1px solid darkblue;
    text-align: center;
    z-index: 100;
    user-select: none;
}
.apogee_tooltip_help_image {
    user-select: none;
}
.apogee_tooltip_element:hover .apogee_tooltip_text {
    visibility: visible;
}
.apogee_tooltip_element:hover {
    visibility: visible;
    background-color: rgba(128,128,144,.35);
}
