

.visiui-tf-frame {
    position:relative;
    display:table;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    background-color: rgb(234,234,246);
}
.visiui-tf-tab-container {
    /*fixed*/
    position:relative;
    display:table-row;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    
    /*configurable*/
    background-color:white;
    /*border: 1px solid gray*/
    border-bottom-width: 0px;
}
.visiui-tf-tab-header {
    /*fixed*/
    position:relative;
    display:table-row;
    width:100%;
    top:0px;
    left:0px;
}
.visiui-tf-tab-bar {
    /*fixed*/
    position:relative;
    display:table-row;
    width:100%;
    
    /* configurable */
    margin:0px;
    /*border: 1px solid gray;*/
    border-top-width: 0px;
    background-color: rgb(220,220,240);
}
.visiui-tf-tab-base {
    /*fixed*/
    display:inline-block;
    cursor: default;
    
    /*configurable*/
    padding: 2px;
    margin:0px;
}
.visiui-tf-tab-inactive {
    font-weight:normal;
    border: 1px solid rgb(215,215,220);
    background-color: rgb(234,234,246);
}
.visiui-tf-tab-active {
    background-color: white;
    border: 1px solid white;
    /*border-bottom: 1px solid white;*/
    font-weight:bold;
}

.visiui-tf-tab-window {
    top:0px;
    left:0px;
	height:100%;
    position:relative;
    background-color:white;
    /*overflow:auto;*/
}
.visiui-tf-tab-icon-container {
    display:inline-block;
    position: relative;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
    height: 16px;
    width: 16px;
}
.visiui-tf-tab-icon {
    display:inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    height: 16px;
    width: 16px;
}
.visiui_tf_tab_icon_overlay {
    position: absolute;
    top: 0px;
    left: 0px;
}
.visiui_tf_tab_title {
    /* fixed */
    display:inline-block;
    cursor:default;
    color:darkblue;
    padding: 0px;
    margin: 2px;
    vertical-align: middle;
}
.visiui_tf_tab_cmd_button {
    display:inline-block;
    vertical-align: middle;
    margin:0px;
    padding:0px;
}
.visiui_tf_tab_cmd_button:hover {
    background-color: rgba(128,128,144,.35);
}
.visiui_tf_tab_container {
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    overflow:hidden;
}
