.visiui-tc-main {
}
.visiui-tc-entry {
    display: inline-table;
}
.visiui-tc-label {
    display:inline-block;
    cursor:default;
    font-weight:bold;
    color:darkblue;
}
.visiui-tc-child-list {
    
}
.visiui-tc-child {
    display:block;
}
