.webapp_pageChild_mainClass {
    position: relative;
    background-color: rgb(235,235,240);
    padding: 3px;
    border: .5px solid rgb(230,230,235);
    margin-top: 5px;
    margin-bottom: 5px;
}
.webapp_pageChild_bannerContainerClass {
    position: relative;
}
.webapp_pageChild_viewContainerClass {
    position: relative;
}
.webapp_displayContainer_mainClass {
    position: relative;
}
.webapp_displayContainer_headerContainerClass {
    position: relative;
}
.webapp_displayContainer_viewContainerClass {
    position: relative;
    margin: 3px;
    z-index: 0;
    /*outline: .5px solid rgb(200,200,200);*/
}



