body {
    font-family: sans-serif;
    color: #2d3ea1;
}
.headerLogo {
    padding-right: 100px;
}
.headerLink {
    dislay: inline;
    text-decoration: none;
    /*font-size: large;*/
    font-weight: bold;
    padding-right: 20px;
    color: #2d3ea1;
}
.headerLink:hover {
    color: #a2a7c5;
}
.headerBreak {
    border-width: 2px;
    border-color: #2d3ea1;
    border-style: solid;
    color: #2d3ea1;
}

