/* menu style */
.visiui-menu-body {
    /* fixed */
    overflow:visible;
    position:absolute;
    top:100%;
    left:0%;
    z-index:2000;
    
    /* configurable */
    border:1px solid lightgray;
    background-color:white;
}
.visiui-menu-item {
    cursor:default;
    font-weight:normal;
    padding:2px;
    white-space: nowrap;
    display: block;
    position: relative;
    overflow: hidden;
}
.visiui-menu-item:hover {
    background-color:lightgray;
    padding:2px;
    
    overflow: visible;
}

.visiui-menu-heading {
    /* fixed */
    display:inline-block;
    position:relative;
    cursor: default;
	overflow:visible;
    white-space: nowrap;

    /* configurable */
    padding:2px;
    margin:0px;
}
.visiui-menu-label:hover {
    background-color:rgb(211,211,164);
    outline: 3px solid rgb(211,211,164);
}
.visiui-menu-label:active {
    background-color:rgb(211,211,164);
    outline: 3px solid rgb(211,211,164);
}


