/* menu style */
.visiui-menu-body {
    /* fixed */
    overflow:visible;
    position:absolute;
    top:100%;
    left:0%;
    z-index:2000;
    
    /* configurable */
    border:1px solid lightgray;
    background-color:white;
}
.visiui-menu-item {
    cursor:default;
    font-weight:normal;
    padding: 2px;
    white-space: nowrap;
    display: block;
    position: relative;
    overflow: hidden;
}
.visiui-menu-item:hover {
    background-color:lightgray;

    overflow: visible;
}

.visiui-menu-heading {
    display:inline-block;
    position:relative;
    cursor: default;
	overflow:visible;
    white-space: nowrap;
    padding: 0px;
    margin: 0px;
}
.visiui-menu-heading-active {
    background-color:rgba(128,128,144,.35);
    outline: 3px solid rgba(128,128,144,.35);
}
.visiui-menu-label:hover {
    background-color:rgba(128,128,144,.35);
    outline: 3px solid rgba(128,128,144,.35);
}
.visiui-menu-label:active {
    background-color:rgba(128,128,144,.35);
    outline: 3px solid rgba(128,128,144,.35);
}


