.visiui_dialog_main {
  position: absolute;
  display: inline-block;
  padding: 4px;
  background-color: rgb(185,185,220);
  outline: 1px solid rgb(150,150,190);
}
.visiui_dialog_header {
  display:block;
  position:relative;
  height: 16px;
  background-color: rgb(185,185,220);
  cursor: move;
}
.visiui_dialog_body {
  display:block;
  position:relative;
  overflow:hidden;
	background-color: rgb(240,240,240);
}

/* These are default window colors. User can set alternate colors. */
/* The default values are ugly for now to make sure people set them for the app. */
.visiui_win_titleBarClass {
	background-color: rgb(185,185,220);
    padding:0px;
}
.visiui_win_windowColorClass {
    background-color: rgb(185,185,220);
}

/* These elements should not be overridden */ 
.visiui_win_headerCell {
}
.visiui_win_bodyCell {
  background-color: rgb(240,240,240);
  /*display set in javascript*/
  /* - normal, max - emtpy string */
  /* - min - none */
}
.visiui_win_body {
	display:block;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    position:absolute;
    overflow:hidden;

	background-color:white;
}
.visiui_win_headerCell {
}
.visiui_win_header {
}


.visiui_win_main {
  border-collapse: collapse;
  position: absolute;
  /*top, left, height, width set in javascript*/
  /* - normal - all values set */
  /* - min - height and width set to empty string */
  /* - max - height and width set to 100% */
  background-color: rgb(240,240,240);
  outline: 1px solid rgb(150,150,190);
}
.visiui_win_main td {
  position: relative;
  padding: 0px;
}
.visiui_win_main tr {
  position: relative;
}

.visiui_win_headerCell {
}
.visiui_win_headerRow {
    z-index: -1; /* this is for a mouse resize event issue in firefox */
}
.visiui_win_bannerRow {
    z-index: -1; /* this is for a mouse resize event issue in firefox */
}
.visiui_win_bodyRow {
  height: 100%;
  z-index: -1; /* this is for a mouse resize event issue in firefox */
}
.visiui_win_topLeft {
  cursor: nw-resize;
}
.visiui_win_top {
  height: 5px;
  min-height: 5px;
  cursor: ns-resize;
}
.visiui_win_topRight {
  cursor: ne-resize;
}
.visiui_win_left {
  width: 5px;
  min-width: 5px;
  cursor: ew-resize;
}
.visiui_win_right {
  width: 5px;
  min-width: 5px;
  cursor: ew-resize;
}
.visiui_win_bottomLeft {
  cursor: sw-resize;
}
.visiui_win_bottom {
  height: 5px;
  min-height: 5px;
  cursor: ns-resize;
}
.visiui_win_bottomRight {
  cursor: se-resize;
}


.visiui_win_left_style {
    /* fixed */
    display:inline;
    width:100%;
}

.visiui_win_right_style {
    /* fixed */
    float:right;
    display:inline;
}

.visiui_win_title {
    /* fixed */
    display:inline-block;
    cursor:default;
    font-weight:bold;
    color:darkblue;
    vertical-align: top;
    padding-top: 2px;
    padding-bottom: 2px;
}

.visiui_win_menu_style {
    /* fixed */
    display:inline-block;
    position: relative;

    /* configurable */
    margin-right:3px;
}
.visiui_win_icon_overlay_style {
    position: absolute;
    top: 0px;
    left: 0px;
}
.visiui_win_cmd_button { 
    /* fixed */
    display:inline-block;

    /* configurable */
    margin-right:3px;
}

.visiui_win_tool_style {
    /* fixed */
    display:inline-block;

    /* configurable */
    margin-right:3px;
}

.visiui_win_container_fixed {
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    overflow:hidden;
}

.visiui_win_container_scrolling {
	position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    overflow:auto;
}

.visiui_win_container_fit_content {
	position:relative;
}
 
