.apogee_configurablePanelBody { 
    position: relative;
    overflow: auto;
}
.apogee_configurablePanelBody_fillParent { 
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}
.apogee_configurablePanelLine {
    position: relative;
}
.apogee_configurablePanelHeading_1 {
    font-size: 2em;
    font-weight: bold;
}
.apogee_configurablePanelHeading_2 {
    font-size: 1.5em;
    font-weight: bold;
}
.apogee_configurablePanelHeading_3 {
    font-size: 1.17em;
    font-weight: bold;
}
.apogee_configurablePanelHeading_4 {
    font-weight: bold;
}
.apogee_configurablePanelHeading_5 {
    font-size: .83em;
    font-weight: bold;
}
.apogee_configurablePanelHeading_6 {
    font-size: .67em;
    font-weight: bold;
}
.apogee_configurablePanelLabel {
    font-weight: bold;
    vertical-align: top; 
}
.apogee_configurablePanelButton {
    margin-left:20px;
    margin-right:20px;
}
.apogee_configurableShowHideBody {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 15px;
}
.apogee_configurableShowHideControl {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 5px;
    padding-left: 5px;
}
.apogee_configurableExtendedDropdown {
    position: relative;
    display: inline-block;
    height: 200px;
}
.apogee_configurableExtendedHeadLink {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.apogee_configurableExtendedBodyContainer {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.apogee_configurableExtendedBodyLink {
    display: inline-block;
    padding: 3px;
    margin: 0px;
}
.apogee_configurableExtendedOpened {
    display: block;
}