.atb_toolbar {
    line-height: 0.1;
}
.atb_toggleButton {
    display: inline-block;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    color: #444;
    line-height: 1;
    padding: 0 7px;
    margin: 1px;
    cursor: pointer;
    text-align: center;
    min-width: 1.4em;
}
.atb_toggleOffClass {
    
}
.atb_toggleOnClass {
    background-color: rgb(220,220,240);;
}
.atb_toggleButton:hover {
    background-color: rgba(128,128,144,.35);
}
.atb_radioButton {
    display: inline-block;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    color: #444;
    line-height: 1;
    padding: 0 7px;
    margin: 1px;
    cursor: pointer;
    text-align: center;
    min-width: 1.4em;
}
.atb_radioOffClass {
    
}
.atb_radioOnClass {
    background-color: rgb(220,220,240);;
}
.atb_actionButton {
    display: inline-block;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    line-height: 1;
    padding: 0 7px;
    margin: 1px;
    cursor: pointer;
    text-align: center;
    min-width: 1.4em;
}
.atb_actionButton:hover {
    background-color: rgba(128,128,144,.35);
}
.atb_actionHighlightedClass {
    background-color: rgb(220,220,240);
}
.atb_actionEnabledClass {
    color: #444;   
}
.atb_actionDisabledClass {
    color: #999;
}



.atb_normal_style {
    font-size: 1em;
}
.atb_h1_style {
    font-size: 1em;
    font-weight: bold;
}
.atb_h2_style {
    font-size: 1em;
    font-weight: bold;
}
.atb_h3_style {
    font-size: 1em;
    font-weight: bold;
}
.atb_h4_style {
    font-size: 1em;
    font-weight: bold;
}
.atb_ul_style {
    font-size: 1em;
    font-weight: bold;
}
.atb_ol_style {
    font-size: 1em;
    font-weight: bold;
}
.atb_lindent_style {
    font-size: 1em;
    font-weight: bold;
}
.atb_lunindent_style {
    font-size: 1em;
    font-weight: bold;
}
.atb_bold_style {
    font-weight: bold;
}
.atb_italic_style {
    font-style: italic;
}
