/* Split Pane */
.visiui-sp-parent {
    position: relative;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}
/* pane outline color and width must be set here and in the divider */
.visiui-sp-parent2 {
    outline: 5px solid rgb(220,220,240);;

    position: absolute;
    top:4px;
    left:4px;
    right:4px;
    bottom:4px;
}  
.visiui-sp-table {
    border-collapse: collapse;
    position: relative;
    width:100%;
    height:100%;
}
.visiui-sp-row {
    position: relative;
    height: 100%;
}
.visiui-sp-left {
    width:20%;
    height: 100%;
    overflow: visible;
    z-index: 1;
}
.visiui-sp-divider {
    width:5px;
    height:100%;
    background-color: rgb(220,220,240);
    cursor: ew-resize;
    z-index: 0;
}
.visiui-sp-right {
    height:100%;
    overflow: visible;
    margin: 0px;
    padding: 0px;
    z-index: 1;
}
.visiui-sp-inner {
    position: relative;
    height: 100%;
    overflow: hidden;
    background-color: white;
}
.visiui-sp-scrolling {
    position: absolute;
    top: 0px;
    left:0px;
    right:0px;
    bottom:0px;
    overflow: auto;
}
.visiui-sp-fixed {
    position: absolute;
    top: 0px;
    left:0px;
    right:0px;
    bottom:0px;
    overflow: hidden;
}
