.jsonBody {
    padding:1px;
}
.indentCell {
    display:table-cell;
}
.cell_base {
    display:table-cell;
    padding: 2px;

    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
.cell_key {   
    border: gray solid 1px;
    min-width: 10px;
    background: rgb(220,220,240);
    font-weight:bold;
}
.cell_index {
    border: gray solid 1px;
    background: white;
    font-style: italic;
}
.cell_key_virtual {
    border: lightgray solid 1px;
	min-width: 10px;
    background: white;
    font-weight:bold;
}
.cell_index_virtual {
    border: lightgray solid 1px;
    background: white;
    font-style: italic;
}
.cell_value_string {
    border: gray solid 1px;
    min-width: 70px;
    max-width: 500px;
    font-family: sans-serif;
    color: black;
}
.cell_value_nonstring {
    border: gray solid 1px;
    min-width: 70px;
    max-width: 500px;
    font-family: monospace;
    color: blue;
}
.cell_value_virtual {
    border: lightgray solid 1px;
    min-width: 70px;
    max-width: 500px;
}
.valueCell:empty {
	height:15px;
}
.virtualValueCell:empty {
	height:15px;
}
.objectDelimCell {
    display:table-cell;
    padding: 2px;
}
.buttonCell {
    display:table-cell;
    padding: 2px;
}

