/* These are default window colors. User can set alternate colors. */
/* The default values are ugly for now to make sure people set them for the app. */

.visiui_winicon_frame {
	display:table;
    position:absolute;
    overflow:hidden;
    
    cursor:default;
    font-weight:bold;
    color:darkblue;

    color: darkblue;
	background-color:white;
}
