.jsonBody {
    padding:1px;
}
.indentCell {
    display:table-cell;
}
.keyCell {
    display:table-cell;
    border: gray solid 1px;
    padding: 2px;
    background: lightgray;
    font-weight:bold;
}
.indexCell {
    display:table-cell;
    border: gray solid 1px;
    padding: 2px;
    background: white;
    font-style: italic;
}
.virtualKeyCell {
    display:table-cell;
    border: lightgray solid 1px;
    padding: 2px;
	min-width: 10px;
    background: white;
    font-weight:bold;
}
.virtualIndexCell {
    display:table-cell;
    border: lightgray solid 1px;
    padding: 2px;
    background: white;
    font-style: italic;
}
.valueCell {
    display:table-cell;
    border: gray solid 1px;
    padding: 2px;
    min-width: 70px;
    max-width: 500px;
}
.virtualValueCell {
    display: table-cell;
    border: lightgray solid 1px;
    padding: 2px;
    min-width: 70px;
    max-width: 500px;
}
.virtualValueCell:empty {
	height:15px;
}
.objectDelimCell {
    display:table-cell;
    padding: 2px;
}
.buttonCell {
    display:table-cell;
    padding: 2px;
}

