/* menu style */
.visiui-menu-bar {
    background-color: rgb(220,220,240);
    position:relative;
}
.visiui-menu-body {
    /* fixed */
    overflow:visible;
    position:absolute;
    top:100%;
    left:0%;
    z-index:2000;
    
    /* configurable */
    border:1px solid lightgray;
    background-color:white;
}
.visiui-menu-item {
    cursor:default;
    padding:2px;
}
.visiui-menu-item:hover {
    background-color:lightgray;
    padding:2px;
}

.visiui-menu-heading {
    /* fixed */
    display:inline-block;
    position:relative;
    cursor: default;
	overflow:visible;

    /* configurable */
    padding:2px
}
.visiui-menu-heading:hover {
    background-color:lightgray;
}
.visiui-menu-heading_active {
    background-color:lightgray;
}


