.apogee_configurablePanelBody_fillParent { 
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}
.apogee_configurablePanelBody_selfSized { 
    position: relative;
}
.apogee_configurablePanelLine_standard {
    position: relative;
    margin:10px;
}
.apogee_configurablePanelPanelLine_noMargin {
    position: relative;
}
.apogee_configurablePanelPanelLine_hidden {
    position: relative;
    display: none;
}
.apogee_configurablePanelHeading {
}
.apogee_configurablePanelLabel {
    font-weight: bold;
    vertical-align: top; 
}
.apogee_configurablePanelButton {
    margin-left:20px;
    margin-right:20px;
}