/** Obverall container. Width, height tbd */
.listElement_listContainer {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
/** The control bar has a width determined by its content buttons. */
.listElement_listControlBar {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
}
/** We will stack the content buttons, if there are multiple. There will be an add
button for each type of entry allowed. The label will indicate the associated type. */
.listElement_addButton {
    position: relative;
    margin-bottom: 5px;
    white-space: nowrap;
}
/** the element container is left of the control bar. Width tbd. */
.listElement_elementContainerWrapper {
    position: relative;
    display: inline-block;
    height: calc(100% - 10px);
    padding: 5px;
}
/** the element container is left of the control bar. Width tbd. */
.listElement_elementContainer {
    position: relative;
    display: table;
    height: 100%;
}



.listElement_itemElement {
    position: relative;
    display: table-row;
    border: 1px solid rgba(0,0,0,.4);
    margin: 2px;
}
.listElement_itemControlBar {
    position: relative;
    display: table-cell;
    width: 33px;
    height: 27px;
    vertical-align: top;
}
/** width tbd */
.listElement_itemContent {
    position: relative;
    display: table-cell;
}
.listElement_itemButton {
    position: absolute;
    border: 1px solid rgba(0,0,0,.4);
}
.listElement_itemButton:hover {
    position: absolute;
    background-color: rgba(0,0,255,.2);
    border: 1px solid rgba(0,0,0,.4);
}
.listElement_itemButton:active {
    position: absolute;
    background-color: rgba(0,0,255,.2);
    border-style: inset;
    border: 1px solid rgba(0,0,0,.7);
}