/* json grid css */
/* * {
	margin: 0px;
	padding: 0px;
	border: none;
	border-collapse: collapse;
}*/
.jsonGridTopTable {
}
.jsonGridInternalTable {
}
.jsonGridRow {
}
.jsonGridValueCell {
    border: 1px solid darkgray;
    padding:2px;
    min-width:20px;
    max-width:600px;
    min-height:5px;
    max-height:600px;
}
.jsonGridObjectCell {
    border: 1px solid darkgray;
    min-width:20px;
    max-width:600px;
    min-height:5px;
    max-height:600px;
}
.jsonObjectHeader {
    border: 1px solid darkgray;
    padding:2px;
    min-width:10px;
    max-width:600px;
    min-height:5px;
    max-height:600px;
    font-weight: bold;
	background-color:lightgray;
}
.jsonArrayHeader {
    border: 1px solid darkgray;
    padding:2px;
    min-width:10px;
    max-width:600px;
    min-height:5px;
    max-height:600px;
    font-style: italic;
	background-color:lightgray;
}
