.visiui_json_table {
    border: 1px solid darkgray;
    background-color:lightgray;
}
.visiui_json_row {

}
.visiui_json_label_row {

}
.visiui_json_cell {
    border: 1px solid darkgray;
    padding:2px;
    min-width:20px;
    max-width:600px;
    min-height:5px;
    max-height:600px;
}
.visiui_json_label_cell {
    border: 1px solid darkgray;
    padding:2px;
    min-width:20px;
    max-width:600px;
    min-height:5px;
    max-height:600px;
    font-weight: bold;
}
