body {
    overflow:hidden;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    padding:0px;
    margin:0px;
    font-family: sans-serif;
    font-size: 14px;

    /*-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
}
/* textarea focus {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
input[type=text] focus {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}*/
#appContainer {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}
.menu_bar {
    background-color: rgb(220,220,240);
    position:relative;
    z-index: 1;
    padding: 2px;
}
.menu_bar_left {
    /* fixed */
    display:inline;
    width:100%;
}
.menu_bar_right {
    /* fixed */
    float:right;
    display:inline;
}
.menu_bar_icon {
    height: 16px;
    vertical-align: middle;
}
.content_outside_menu_bar {
    z-index: 0;
}
.tab-icon-display {
    /* fixed */
    display:inline-block;
    
    /* configurable */
    margin-right:5px;
}
.tab-title-display {
    /* fixed */
    display:inline-block;
    cursor:default;
    padding: 2px 0px;
    vertical-align: top;
    
    /* configurable */
    margin-right:5px;
}
/* overrides for the handsontable coloring */
.handsontable th {
    background-color: rgb(220,220,240);
}
.handsontable td {
    background-color: rgba(255,255,255,0);
}
