.combinedFileAccess_mainContainer {
    position: relative;
    overflow: hidden;
    padding: 5px;
}

.combinedFileAccess_titleElement {
    position: relative;
    overflow: hidden;
    padding: 5px;
    font-size: 24px;
}

.combinedFileAccess_selectCell {
    position: relative;
    vertical-align: top;
}

.combinedFileAccess_selectTitle {
}

combinedFileAccess_selectTitle

.combinedFileAccess_selectList {
    position: relative;
    overflow: auto;
    margin: 5px;
    outline: 1px solid rgb(128,128,128);
}

.combinedFileAccess_actionElement {
    position: relative;
    overflow: hidden;
    padding: 10px;
    overflow: auto
}


.combinedFileAccess_selectionWrapper {
    position: relative;
    padding: 15px;
    outline: 1px solid rgb(128,128,128);
}

.combinedFileAccess_selectionWrapper:hover {
    background-color: rgb(200,200,200);
}

.combinedFileAccess_selectionWrapperActive {
    background-color: white;
}

.combinedFileAccess_selectionTitleWrapper {
    position: relative;
}

.combinedFileAccess_selectionTitle {

}

.combinedFileAccess_selectionIcon {
    height: 16px;
    width: 16px;
}

.combinedFileAccess_selectionConfigWrapper {
    position: relative;
}