.combinedFileAccess_mainContainer {
    position: relative;
    overflow: hidden;
    padding: 5px;
}

.combinedFileAccess_dialogTitleElement {
    position: relative;
    overflow: hidden;
    padding: 5px;
    font-size: 24px;
}

.combinedFileAccess_selectedSourceTitle {
    position: relative;
    overflow: hidden;
    padding: 5px;
    font-size: 20px;
}

.combinedFileAccess_selectTitleCell {
    position: relative;
    overflow: hidden;
    padding: 5px;
    font-size: 14px;
}

.combinedFileAccess_sourceListCell {
    position: relative;
    vertical-align: top;
    padding: 5px;
}

.combinedFileAccess_selectList {
    position: relative;
    overflow: auto;
    outline: 1px solid rgb(128,128,128);
}

.combinedFileAccess_actionElement {
    position: relative;
    overflow: hidden;
    overflow: hidden;
}


.combinedFileAccess_selectionWrapper {
    position: relative;
    padding: 5px;
    outline: 1px solid rgb(128,128,128);
}

.combinedFileAccess_selectionWrapper:hover {
    background-color: rgb(200,200,200);
}

.combinedFileAccess_selectionWrapperActive {
    background-color: white;
}

.combinedFileAccess_selectionTitleWrapper {
    position: relative;
}

.combinedFileAccess_selectionTitle {

}

.combinedFileAccess_selectionIcon {
    height: 16px;
    width: 16px;
}

.combinedFileAccess_selectionConfigWrapper {
    position: relative;
}

/* remote file access config entry */

.oneDriveFileAccess_configContainer {

}
.oneDriveFileAccess_loginElement {

}
.oneDriveFileAccess_userElement {

}
.oneDriveFileAccess_logoutElement {

}

.oneDriveFileAccess_accountMsgElement {

}

/* remote file access action entry */

.oneDriveFileAccess_mainContainer {
    padding: 5px;
}

.oneDriveFileAccess_driveTitle {
    padding: 5px;
}

.oneDriveFileAccess_drivesCell {
    position: relative;
    vertical-align: top;
    padding: 5px;
}

.oneDriveFileAccess_driveList {
    position: relative;
    overflow: auto;
    outline: 1px solid rgb(128,128,128);
    min-height: 10px;
}

.oneDriveFileAccess_driveElement {
    position: relative;
    padding: 5px;
    outline: 1px solid rgb(128,128,128);
}

.oneDriveFileAccess_driveElement:hover {
    background-color: rgb(200,200,200);
}

.oneDriveFileAccess_driveElementActive {
    background-color: white;
}

.oneDriveFileAccess_pathCell {
    padding: 5px;
}

.oneDriveFileAccess_commandCell {
    padding: 5px;
}

.oneDriveFileAccess_filterWrapper {
    display: inline;
    float: right;
}

.oneDriveFileAccess_fileListCell {
    padding: 5px;
}


.oneDriveFileAccess_fileListElement {
    position: relative;
    height: 300px;
    min-width: 400px;
    background-color: white;
    border: 1px solid gray;
}

.oneDriveFileAccess_fileNameCell {
    padding: 5px;
}

.oneDriveFileAccess_fileNameLabel {
    margin-right: 5px
}

.oneDriveFileAccess_fileNameTextField {
    width: 300px;
}

.oneDriveFileAccess_buttonsCell {
    padding: 5px;
}

.oneDriveFileAccess_submitButton {
    margin-left: 50%;
}

.oneDriveFileAccess_cancelButton {
    float: right;
    margin-right: 50px;
}

.oneDriveFileAccess_pathFileElement {
    padding: 5px;
    font-size: 14px;
    color: black;
}

.oneDriveFileAccess_pathDelimiterElement {
    padding: 5px;
    font-size: 14px;
    color: gray;
    font-weight: bold;
}

.oneDriveFileAccess_pathDriveElement {
    padding: 5px;
    font-size: 14px;
    color: gray;
    font-weight: bold;
}

.oneDriveFileAccess_fileListEntryElement {
    padding: 2px;
}

.oneDriveFileAccess_fileListEntryElement:hover {
    background-color: rgb(240,240,256);
}

.oneDriveFileAccess_fileListEntryElementActive {
    background-color: rgb(220,220,256);
}

.oneDriveFileAccess_fileListEntryElementActive:hover {
    background-color: rgb(220,220,256);
}

.oneDriveFileAccess_loggedOutShield {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(200,200,200,.5);
    text-align: center;
    padding: 45% 0;
}

.oneDriveFileAccess_loggedOutCancelButton {
    margin: 10px;
}