
.visiui_tb_left_style {
    /* fixed */
    display:inline;
    width:100%;
}

.visiui_tb_right_style {
    /* fixed */
    float:right;
    display:inline;
}

.visiui_tb_title {
    /* fixed */
    display:inline-block;
    cursor:default;
    font-weight:bold;
    color:darkblue;
    
}

.visiui_tb_cmd_button { 
    /* fixed */
    display:inline-block;

    /* configurable */
    margin-right:3px;
}

