

/* These are default window colors. User can set alternate colors. */
/* The default values are ugly for now to make sure people set them for the app. */
.visiui_litpage_titleBarClass {
	background-color: rgb(210,210,210);
    padding:3px;
}

.visiui_litpage_mainClass {
	display:block;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    position:relative;
    overflow:hidden;

	background-color:white;
}


.visiui_litpage_title {
    /* fixed */
    display:inline-block;
    cursor:default;
    font-weight:bold;
    color:darkblue;
    vertical-align: top;
    padding-top: 2px;
    padding-bottom: 2px;
}

.visiui_litpage_menu_style {
    /* fixed */
    display:inline-block;
    position: relative;

    /* configurable */
    margin-right:3px;
}
.visiui_litpage_icon_overlay_style {
    position: absolute;
    top: 0px;
    left: 0px;
}

.visiui_win_left_style {
    /* fixed */
    display:inline;
    width:100%;
}

.visiui_win_right_style {
    /* fixed */
    float:right;
    display:inline;
}

.visiui_litpage_bannerContainerClass {
    
}

/*.visiui_litpage_container_fixed {
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    overflow:hidden;
}

.visiui_litpage_container_scrolling {
	position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    overflow:auto;
}

.visiui_litpage_container_fit_content {
	position:relative;
}*/
 
