.visiui_litPage_header {
    
}
.visiui_litPage_banner {
    
}
.visiui_litPage_editorToolbar {
    
}
.visiui_litPage_componentToolbar {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    font-family: 'Helvitica Neue', 'Helvitica', 'Ariel', sans-serif;
    padding: 8px;
}
.visiui_litPage_body {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.visiui_pageChild_mainClass {
    position: relative;
    background-color: rgb(235,235,240);
    padding:3px;
    border: .5px solid rgb(200,200,200);
}
.visiui_pageChild_bannerContainerClass {
    position: relative;
}
.visiui_pageChild_viewContainerClass {
    position: relative;
}
.visiui_pageChild_titleBarClass {
    position: relative;
}
.visiui_pageChild_titleBarActiveClass {
    display: inline;
    padding-right: 1px;
}
.visiui_pageChild_titleBarMenuClass {
    position: relative;
    display: inline;
    padding-left: 1px;
}
.visiui_pageChild_titleBarTitleClass {
    display: inline;
    padding-left: 2px;
    padding-right:10px;
    font-weight:bold;
    font-size: larger;
    color:darkblue;
}
.visiui_pageChild_titleBarViewsClass {
    display: inline;
    /* padding-left: 15px; */
}
.visiui_pageChild_icon_overlay_style {
    position: absolute;
    top: 0px;
    left: 0px;
}

.visiui_displayContainer_mainClass {
    position: relative;
}
.visiui_displayContainer_viewTitleBarClass {
    position: relative;
}
.visiui_displayContainer_viewTitleActiveClass {
    display: inline;
}
.visiui_displayContainer_viewTitleClass {
    display: inline;
    padding-left: 1px;
    font-size: smaller;
    color:rgd(64,64,64);
}
.visiui_displayContainer_componentViewLabelClass {
    display: inline;
    padding-left: 8px;
}
.visiui_displayContainer_componentViewActiveClass {
    display: inline;
    padding-left: 1px;
}
.visiui_displayContainer_componentViewTitleClass {
    display: inline;
    padding-left: 1px;
    font-size: smaller;
    color:rgd(64,64,64);
}
.visiui_displayContainer_headerContainerClass {
    position: relative;
}
.visiui_displayContainer_viewContainerClass {
    position: relative;
    margin: 3px;
    outline: .5px solid rgb(200,200,200);
}
