.visiui_hideSelection::selection {
    background: transparent;
}
.errorDisplay_main {
    position: relative;
    background-color: rgb(255,240,240);
    padding: 0px;
    margin: 0px;

    max-height: 250px;
    overflow: auto;
    border: 1px solid rgb(196,196,196);
}
.errorDisplay_errorInfoDiv {
    position: relative;
    padding: 5px;

}
.errorDisplay_sectionDiv {
    position: relative;
    padding: 5px
}
.errorDisplay_descriptionSectionDiv {
    padding: 5px;
    color: red;
    font-weight: bold;
}
.errorDisplay_stackTraceDiv {
    padding: 2px;
    color: red;
}
.errorDisplay_memberTitleDiv {
    padding: 2px;
    color: rgb(50,50,160);
    font-weight: bold;
}
.errorDisplay_sectionHeadingDiv1 {
    padding: 2px;
    color: rgb(0,0,0);
    font-weight: bold;
}
.errorDisplay_sectionHeadingDiv2 {
    padding: 2px;
    color: rgb(96,96,96);
    font-weight: bold;
}
.errorDisplay_sectionHeadingDiv3 {
    padding: 2px;
    color: rgb(96,96,96);
}
.errorDisplay_sectionLabelLineDiv {
    padding: 2px;
}
.errorDisplay_sectionLineLabelSpan {
    color: rgb(96,96,96);
    font-weight: bold;
}
.errorDisplay_sectionLineTextSpan {
    color: rgb(96,96,96);
}
.errorDisplay_codeSection {
    margin: 10px;
    position: relative;
    border: 1px solid gray;
    background-color: rgb(240,240,250);
    color: blue;
    overflow: auto;
    font-family: monospace;
}
pre.errorDisplay_codeSection {
    white-space: pre-wrap;
}
pre.errorDisplay_codeSection:before {
    counter-reset: listing;
}
pre.errorDisplay_codeSection code {
    counter-increment: listing;
}
pre.errorDisplay_codeSection code::before {
    background-color: white;
    color: gray;
    content: counter(listing);
    display: inline-block;
    width: 3ch;         
    padding-left: auto; 
    margin-left: auto; 
    text-align: center;
}
pre.errorDisplay_longCode code::before {
    width: 4ch;
}
pre.errorDisplay_veryLongCode code::before {
    width: 5ch;
}

