.visiui_litPage_header {
    
}
.visiui_litPage_banner {
    
}
.visiui_litPage_editorToolbar {
    border: 1px solid #ccc;
    padding: 2px;
    background-color: rgb(247,247,249);
    font-family: 'Helvitica Neue', 'Helvitica', 'Ariel', sans-serif;
    z-index: 1;
}
.visiui_litPage_componentToolbar {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    /*box-sizing: border-box;*/
    font-family: 'Helvitica Neue', 'Helvitica', 'Ariel', sans-serif;
    padding: 2px;
    background-color: rgb(247,247,249);
    z-index: 1;
}
.visiui_litPage_body {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 0;
}
.visiui_litPage_componentButton {
    position:relative;
    display: inline-block;
    margin:2px;
    border: 1px solid #ccc;
    white-space:nowrap;
    text-align: center;
}
.visiui_litPage_componentButton:hover {
    background-color: rgb(235,235,240);;
}
.visiui_litPage_componentButton:active {
    background-color: rgb(220,220,228);;
}
.visiui_litPage_componentButtonIcon {
    display:inline-block;
    margin-top:0px;
    margin-bottom:0px;
    margin-right:0px;
    margin-left:2px;
}
.visiui_litPage_componentButtonText {
    display:inline-block;
    margin-top:5px;
    margin-bottom:2px;
    margin-right:2px;
    margin-left:2px;
}

.visiui_pageChild_mainClass {
    position: relative;
    background-color: rgb(235,235,240);
    padding:3px;
    border: .5px solid rgb(230,230,235);
    margin-top: 5px;
    margin-bottom: 5px;
}
.visiui_pageChild_mainClass_highlighted {
    position: relative;
    background-color: rgb(215, 222, 243);
    padding:3px;
    border: .5px solid rgb(230,230,235);
    margin-top: 5px;
    margin-bottom: 5px;
}
.visiui_pageChild_bannerContainerClass {
    position: relative;
}
.visiui_pageChild_viewContainerClass {
    position: relative;
}
.visiui_pageChild_titleBarClass {
    position: relative;
}
.visiui_pageChild_titleBarNameClass {
    display: inline;
    padding: 2px;
    font-weight:bold;
    font-size: larger;
    color:darkblue;
}
.visiui-pageChild-icon-container {
    display:inline-block;
    position: relative;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
    height: 16px;
    width: 16px;
}
.visiui-pageChild-icon {
    display:inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    height: 16px;
    width: 16px;
}
.visiui_pageChild_icon_overlay {
    position: absolute;
    top: 0px;
    left: 0px;
}
.visiui_pageChild_titleBarViewsClass {
    display: inline;
    padding-left: 15px;
}
.visiui_displayContainer_mainClass {
    position: relative;
}
.visiui_displayContainer_viewLabelHeaderClass {
    position: relative;
}
.visiui_displayContainer_viewLabelClass {
    display: inline;
    padding-left: 1px;
    padding-right: 20px;
    font-size: smaller;
    color:rgb(0,0,0);
}


.visiui_displayContainer_viewSelectorContainerClass {
    display: inline;
    padding-left: 8px;
}
.visiui_displayContainer_viewActiveElementClass {
    display: inline;
    padding-left: 1px;
}
.visiui_displayContainer_viewSelectorClass {
    display: inline;
    padding-left: 1px;
    font-size: smaller;
    color:rgb(0,0,0);
    cursor: pointer;
}
.visiui_displayContainer_headerContainerClass {
    position: relative;
}
.visiui_displayContainer_viewToolbarClass {
    position: relative;
    display: inline;
}
.visiui_displayContainer_viewDisplaySizeButtonClass {
    display: inline;
    padding-right: 5px;
    font-size: smaller;
    color:rgb(128,128,128);
    cursor: pointer;
}
.visiui_displayContainer_viewContainerClass {
    position: relative;
    margin: 3px;
    overflow-y: visible;
    overflow-x: hidden;
    z-index: 0;
    /*outline: .5px solid rgb(200,200,200);*/
}
