.visiui-tc-main {
}
.visiui-tc-entry {
    white-space: nowrap;
    display:inline-block;
}
.visiui-tc-label {
    display:inline-block;
    /*cursor:default;*/
    color: #369;
    padding-left: 5px;
    vertical-align: top;
    padding-top: 2px;
    padding-bottom: 2px;
    text-decoration: inherit;
}
.visiui-tc-control {
    display:inline-block;
    cursor:default;
    font-family: monospace;
    
    position:relative;
    padding-right: 4px;
    padding-bottom: 2px;
    /*left:-5px;*/
}
.visiui-tc-control:hover {
    background-color: rgb(211,211,164);
}
.visiui-tc-icon-container {
    /* fixed */
    display:inline-block;
    position: relative;

    /* configurable */
    /*margin-right:3px;*/
}
.visiui-tc-main-content-link {
    display: inline-block; 
    text-decoration:none;
}
.visiui-tc-main-content-link:hover { 
    background-color: rgb(211,211,164);
}
.visiui-tc-main-content-div {
    display: inline-block;
}
.visiui-tc-icon {
    display:inline-block;
}
.visiui_tc_icon_overlay {
    position: absolute;
    top: 0px;
    left: 0px;
}
.visiui-tc-child-list {
    list-style: none;
    margin: 0;
    margin-left: 15px;
    padding: 0;
}
.visiui-tc-root {
    white-space: nowrap;
    
    margin: 0;
    padding: 0px;
}
.visiui-tc-child {
    white-space: nowrap;
    
    margin: 0;
    padding: 0px;
}

