.visiui-tc-main {
}
.visiui-tc-entry {
    white-space: nowrap;
    display:inline-block;
}
.visiui-tc-main-content-link {
    display: inline-block; 
    text-decoration:none;
}
.visiui-tc-main-content-link:hover { 
    background-color: rgba(128,128,144,.35);
}
.visiui-tc-main-content-div {
    display: inline-block;
}
.visiui-tc-control {
    display:inline-block;
    cursor:default;
    font-family: monospace;
    vertical-align: middle;
    
    position:relative;
    padding: 0px;
    margin: 0px;
}
.visiui-tc-control_interactive {
}
.visiui-tc-control_interactive:hover {
    background-color: rgba(128,128,144,.35);
}
.visiui-tc-control_interactive:active {
    background-color: rgba(128,128,144,.35);
}
.visiui-tc-icon-container {
    display:inline-block;
    position: relative;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
    height: 16px;
    width: 16px;
}
.visiui-tc-icon {
    display:inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    height: 16px;
    width: 16px;
}
.visiui_tc_icon_overlay {
    position: absolute;
    top: 0px;
    left: 0px;
}
.visiui-tc-label {
    display:inline-block;
    color: #369;
    margin: 3px;
    padding: 0px;
    vertical-align: middle;
    text-decoration: inherit;
}
.visiui-tc-menu {
    display:inline-block;
    position:relative;
    cursor: default;
    overflow:visible;
    padding: 0px;
    margin: 2px;
}
.visiui-tc-child-list {
    list-style: none;
    margin: 0;
    margin-left: 15px;
    padding: 0;
}
.visiui-tc-root {
    white-space: nowrap;
    
    margin: 0;
    padding: 0px;
}
.visiui-tc-child {
    white-space: nowrap;
    
    margin: 0;
    padding: 0px;
}

